
__ram_start = ORIGIN(ram);
__ram_end = ORIGIN(ram) + LENGTH(ram);
__eedata_start = ORIGIN(eedata);
__eedata_end = ORIGIN(eedata) + LENGTH(eedata);
__code_start = ORIGIN(code);
__code_end = ORIGIN(code) + LENGTH(code);
__shared_start = ORIGIN(shared);
__shared_end = ORIGIN(shared) + LENGTH(shared);
__data_data = LOADADDR(.data);


