# Tested on x86-alex board
clock_gettime: 1
_newselect: 1
epoll_ctl: 1
gettid: 1
write: 1
gettimeofday: 1
epoll_wait: 1
read: 1
open: 1
brk: 1
fstat64: 1
mmap2: 1
close: 1
munmap: 1
poll: 1
rt_sigprocmask: 1
clone: 1
signalfd4: 1
ioctl: 1
set_robust_list: 1
fork: 1
stat64: 1
execve: 1
kill: 1
fcntl64: 1
access: 1
mprotect: 1
waitpid: 1
set_thread_area: 1
set_tid_address: 1
futex: 1
rt_sigaction: 1
ugetrlimit: 1
uname: 1
readlink: 1
nanosleep: 1
restart_syscall: 1
exit_group: 1
alarm: 1
sigreturn: 1
umask: 1
_llseek: 1
capget: 1
pipe: 1
chdir: 1
getuid32: 1
dup2: 1
getpid: 1
stat64: 1
ftruncate64: 1
fsync: 1
prctl: 1
capset: 1
getresgid32: 1
getresuid32: 1
geteuid32: 1
getgid32: 1
getegid32: 1
setresgid32: 1
setresuid32: 1
tgkill: 1
time: 1
epoll_create: 1
socketcall: 1
mkdir: 1
rmdir: 1
chown32: 1
chmod: 1
unlink: 1
writev: 1