unix_socket_connect(audioserver, thermal, thermal-engine)

# allow communication w/perfd
allow audioserver perfd_data_file:dir search;
allow audioserver perfd_data_file:sock_file write;
allow audioserver perfd:unix_dgram_socket sendto;
allow audioserver perfd:unix_stream_socket connectto;
