#Define the logging device type
type diag_device, dev_type, mlstrustedobject;
type smem_log_device, dev_type;
type ramdump_device, dev_type;

type smd_device, dev_type;

type mmc_block_device, dev_type;

#device type for rmnet device nodes, ie /dev/rmnet_ctrl*
type rmnet_device, dev_type;

#Define thermal-engine devices
type thermal_device, dev_type;

# modem partition
type modem_block_device, dev_type;

# secure software download partition
type ssd_block_device, dev_type;

# eMMC rpmb - necessarily drm?
type drm_block_device, dev_type;

# Thermal engine
type thermal_engine_device, dev_type;

#SSR device
type ssr_device, dev_type;

type ttyHS0_device, dev_type;

# Fingerprint device
type fingerprint_device, dev_type;

type subsys_modem_device, dev_type;
