type init-bullhead-qseecomd-sh, domain;
type init-bullhead-qseecomd-sh_exec, exec_type, file_type;

init_daemon_domain(init-bullhead-qseecomd-sh)

get_prop(init-bullhead-qseecomd-sh, qseecomtee_prop)

allow init-bullhead-qseecomd-sh shell_exec:file rx_file_perms;

# execute toybox/toolbox
allow init-bullhead-qseecomd-sh toolbox_exec:file rx_file_perms;
