allow init tmpfs:lnk_file create_file_perms;
# allow: write /sys/bus/msm_subsys/devices/subsys0/restart_level "related"
allow init sysfs_ssr:lnk_file read;
