userdebug_or_eng(`
  # qxdmlogger access to /data/diag_logs.
  allow platform_app diag_logs:dir rw_dir_perms;
  allow platform_app diag_logs:file create_file_perms;
  # qxdmlogger access to /dev/diag
  allow platform_app diag_device:chr_file rw_file_perms;
')
