type wc_transport_prop, property_type;
type qseecomtee_prop, property_type;
type radio_atfwd_prop, property_type;
type qcom_ims_prop, property_type;
type contexthub_prop, property_type;
