# Policy for qti
type qti, domain, domain_deprecated;
type qti_exec, exec_type, file_type;

# Started by init
init_daemon_domain(qti)

# Talk to qmuxd (qmux_radio)
qmux_socket(qti)

# Allow qti to create and use socket to communicate between qti processes.
allow qti self:socket create_socket_perms;

# Allow qti to read and write rmnet_device
allow qti rmnet_device:chr_file rw_file_perms;
