#Policy for start_hci_filter
type start_hci_filter, domain, domain_deprecated;
type start_hci_filter_exec, exec_type, file_type;

init_daemon_domain(start_hci_filter);

allow start_hci_filter self:capability { setuid setgid dac_override };

allow start_hci_filter proc_sysrq:file rw_file_perms;

allow start_hci_filter ttyHS0_device:chr_file rw_file_perms;

allow start_hci_filter sysfs_msmuart_file:file rw_file_perms;

set_prop(start_hci_filter, wc_transport_prop)
