type wcnss_service, domain, domain_deprecated;
type wcnss_service_exec, exec_type, file_type;

init_daemon_domain(wcnss_service)

allow wcnss_service self:netlink_socket rw_socket_perms;
allow wcnss_service self:socket create_socket_perms;
allow wcnss_service proc_net:file w_file_perms;
allow wcnss_service self:netlink_socket create_socket_perms;
allow wcnss_service smem_log_device:chr_file rw_file_perms;
allow wcnss_service self:capability { setuid net_admin setgid };
allow wcnss_service sysfs:file w_file_perms;
allow wcnss_service sysfs_usb:file w_file_perms;

qmux_socket(wcnss_service)
