type cnd_socket, file_type;
type diag_logs, file_type, data_file_type, mlstrustedobject;

# Default type for anything under /firmware
type firmware_file, fs_type, contextmount_type;

type ims_socket, file_type;
type irqbalance_socket, file_type;
type perfd_data_file, file_type, data_file_type;
type persist_file, file_type;
type persist_audio_file, file_type;
type persist_data_file, file_type;
type persist_drm_file, file_type;
type persist_sensors_file, file_type;
type postprocd_socket, file_type;
type proc_irq, fs_type;
type proc_kernel_sched, fs_type;
type qmuxd_socket, file_type;
type ssr_data_file, file_type, data_file_type;
type sysfs_led, sysfs_type, fs_type;
type sysfs_gpu_tuning, sysfs_type, fs_type;
type sysfs_fingerprintd, sysfs_type, fs_type;
type sysfs_msm_subsys, sysfs_type, fs_type;
type sysfs_msm_subsys_toggle, sysfs_type, fs_type;
type sysfs_nanoapp_cmd, sysfs_type, fs_type;
type sysfs_performance, sysfs_type, fs_type;
type sysfs_power_management, fs_type, sysfs_type;
type sysfs_prox_snsr, sysfs_type, fs_type;
type sysfs_smdcntl_open_timeout, sysfs_type, fs_type;
type sysfs_surfaceflinger, fs_type, sysfs_type;
type thermald_socket, file_type;
type time_data_file, file_type, data_file_type;
type display_data_file, file_type, data_file_type;
type cnd_data_file, file_type, data_file_type;

type sysfs_wifi_sar, fs_type, sysfs_type;
type sysfs_lcd_mipi, fs_type, sysfs_type;
