allow fingerprintd tee_device:chr_file rw_file_perms;
# read/open /dev/input
allow fingerprintd input_device:dir r_dir_perms;
# read/open /dev/input/event6
allow fingerprintd input_device:chr_file r_file_perms;
# write /sys/bus/spi/devices/spi12.0/spi_prepare
allow fingerprintd sysfs_fingerprintd:file rw_file_perms;
allow fingerprintd sysfs_fingerprintd:dir search;
allow fingerprintd sysfs_fingerprintd:dir r_dir_perms;
