type inputeventfind, domain, domain_deprecated;
type inputeventfind_exec, exec_type, file_type;

init_daemon_domain(inputeventfind)

# search for appropriate input device
allow inputeventfind input_device:dir r_dir_perms;
allow inputeventfind input_device:chr_file r_file_perms;

# create symlink to /dev/stm_sensor
allow inputeventfind device:dir { add_name write };
allow inputeventfind video_device:lnk_file create;
type_transition inputeventfind device:lnk_file video_device;
