allow radio oem_qmi_server:unix_stream_socket write;
allow radio oem_qmi_server:unix_stream_socket connectto;
allow radio rild_qmuxd_socket:sock_file write;
qmux_socket(radio)
