type sensortool, domain, domain_deprecated;
type sensortool_exec, exec_type, file_type;

init_daemon_domain(sensortool)

allow sensortool self:capability sys_nice;

allow sensortool sensors_device:chr_file rw_file_perms;
create_pty(sensortool)
