type atfwd_service,             service_manager_type;
type cne_service,               service_manager_type;
type ims_service,               service_manager_type;
type per_mgr_service,           service_manager_type;
