type ssr_setup, domain, domain_deprecated;
type ssr_setup_exec, exec_type, file_type;
init_daemon_domain(ssr_setup);

allow ssr_setup sysfs_msm_subsys:dir r_dir_perms;
allow ssr_setup sysfs_msm_subsys:lnk_file rw_file_perms;
allow ssr_setup sysfs_msm_subsys_toggle:file rw_file_perms;
