allow tee self:capability { setuid setgid sys_rawio };

allow tee block_device:dir { getattr search };
allow tee drm_block_device:blk_file rw_file_perms;
allow tee ssd_block_device:blk_file rw_file_perms;

allow tee firmware_file:dir r_dir_perms;
allow tee firmware_file:file r_file_perms;

#allow tee to access dir /data/system/users/0-N/fpdata and the file
allow tee fingerprintd_data_file:file rw_file_perms;
allow tee fingerprintd_data_file:dir r_dir_perms;

# Set the sys.listeners.registered property
set_prop(tee, system_prop)

allow tee time:unix_stream_socket connectto;

allow tee persist_file:dir r_dir_perms;
allow tee persist_data_file:dir create_dir_perms;
allow tee persist_data_file:file create_file_perms;
allow tee persist_drm_file:dir rw_dir_perms;
allow tee persist_drm_file:file create_file_perms;

#create fingerprint data under /data/fpc
# b/23190122
allow tee system_data_file:dir r_dir_perms;
allow tee fingerprintd_data_file:dir create_dir_perms;
allow tee fingerprintd_data_file:file create_file_perms;
