<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (C) 2015 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.assist.testapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <uses-library android:name="android.test.runner" />

        <activity android:name=".TestApp"
                android:label="Assist Structure Test Activity">
          <intent-filter>
              <action android:name="android.intent.action.TEST_APP_ASSIST_STRUCTURE" />
              <action android:name="android.intent.action.TEST_APP_LARGE_VIEWHIERARCHY" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.VOICE" />
          </intent-filter>
        </activity>
        <activity android:name=".DisableContextActivity"
            android:label="Disable Context Test Activity">
            <intent-filter>
                <action android:name="android.intent.action.TEST_APP_DISABLE_CONTEXT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SecureActivity"
                  android:label="Secure Test Activity">
            <intent-filter>
                <action android:name="android.intent.action.TEST_APP_FLAG_SECURE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>
        <activity android:name=".LifecycleActivity"
                  android:label="Life Cycle Check Activity">
            <intent-filter>
                <action android:name="android.intent.action.TEST_APP_LIFECYCLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>
        <activity android:name=".ScreenshotActivity"
                  android:label="Screenshot Test Activity">
            <intent-filter>
                <action android:name="android.intent.action.TEST_APP_SCREENSHOT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>
        <activity android:name=".ExtraAssistDataActivity"
            android:label="Extra Assist Test Activity">
            <intent-filter>
                <action android:name="android.intent.action.TEST_APP_EXTRA_ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>
        <activity android:name=".TextViewActivity"
            android:label="TextView Test Activity">
            <intent-filter>
                <action android:name="android.intent.action.TEST_APP_TEXTVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".WebViewActivity"
            android:label="WebView Test Activity">
            <intent-filter>
                <action android:name="android.intent.action.TEST_APP_WEBVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FocusChangeActivity"
            android:label="Focus Change Test Activity">
            <intent-filter>
                <action android:name="android.intent.action.TEST_APP_FOCUS_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
