# enable ramdump
on property:persist.service.ramdump.enable=1
    stop ss_ramdump
    write /sys/bus/msm_subsys/devices/subsys0/restart_level "system"
    write /sys/bus/msm_subsys/devices/subsys1/restart_level "system"
    write /sys/bus/msm_subsys/devices/subsys2/restart_level "system"
    write /sys/bus/msm_subsys/devices/subsys3/restart_level "system"
    write /sys/module/subsystem_restart/parameters/enable_ramdumps 0
    write /sys/module/msm_poweroff/parameters/download_mode 1

# disable ramdump
on property:persist.service.ramdump.enable=0
    write /sys/bus/msm_subsys/devices/subsys0/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys1/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys2/restart_level "related"
    write /sys/bus/msm_subsys/devices/subsys3/restart_level "related"
    write /sys/module/subsystem_restart/parameters/enable_ramdumps 1
    write /sys/module/msm_poweroff/parameters/download_mode 0
    start ss_ramdump
