on charger
    ## ensure correct calibration file permissions
    chown root system /persist/sensorcal.json
    chmod 0640 /persist/sensorcal.json
    ## Update SH FW if needed
    start flash-sh-fw

on post-fs
    ## ensure correct calibration file permissions
    chown root system /persist/sensorcal.json
    chmod 0640 /persist/sensorcal.json
    ## Update SH FW if needed
    start flash-sh-fw

service flash-sh-fw /vendor/bin/sensortool.angler -f /vendor/firmware/nano4x1.bin
    oneshot
    disabled
    group system
