#
# Copyright (C) 2013 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
socketcall: 1
time: 1
mmap2: 1
# open: return EPERM
open: return 1
mprotect: 1
close: 1
fstat64: 1
read: 1
stat64: 1
futex: 1
brk: 1
access: 1
rt_sigaction: 1
munmap: 1
# ioctl: arg1 == SIOCGIFNAME || arg1 == SIOCGIFNETMASK
ioctl: arg1 == 0x8910 || arg1 == 0x891b
restart_syscall: 1
exit: 1
exit_group: 1
rt_sigreturn: 1
uname: 1
rt_sigprocmask: 1
_llseek: 1
getrlimit: 1
set_tid_address: 1
set_robust_list: 1
set_thread_area: 1
fcntl64: 1
# execve: return EPERM
execve: return 1
