<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (C) 2007 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.app.stubs">

    <permission android:name="android.app.stubs.permission.TEST_GRANTED"
        android:protectionLevel="normal"
            android:label="@string/permlab_testGranted"
            android:description="@string/permdesc_testGranted">
        <meta-data android:name="android.app.stubs.string" android:value="foo" />
        <meta-data android:name="android.app.stubs.boolean" android:value="true" />
        <meta-data android:name="android.app.stubs.integer" android:value="100" />
        <meta-data android:name="android.app.stubs.color" android:value="#ff000000" />
        <meta-data android:name="android.app.stubs.float" android:value="100.1" />
        <meta-data android:name="android.app.stubs.reference" android:resource="@xml/metadata" />
    </permission>

    <uses-permission android:name="android.app.stubs.permission.TEST_GRANTED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <application android:label="Android TestCase"
                android:icon="@drawable/size_48x48"
                android:maxRecents="1"
                android:multiArch="true"
                android:name="android.app.stubs.MockApplication"
                android:supportsRtl="true">
        <uses-library android:name="android.test.runner" />
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity android:name="android.app.stubs.ScreenOnActivity" />

        <activity android:name="android.app.stubs.ActionBarActivity" />

        <activity android:name="android.app.stubs.DialogStubActivity"
            android:label="DialogStubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="android.app.stubs.MockActivity" android:label="MockActivity">
            <meta-data android:name="android.app.alias"
                android:resource="@xml/alias" />
            <meta-data android:name="android.app.intent.filter"
                android:resource="@xml/intentfilter" />
        </activity>

        <activity android:name="android.app.stubs.MockApplicationActivity"
            android:label="MockApplicationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="android.app.stubs.InstrumentationTestActivity"
                  android:theme="@style/Theme_NoSwipeDismiss"
                  android:label="InstrumentationTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/person" />
            </intent-filter>
        </activity>

        <activity android:name="android.app.stubs.AliasActivityStub">
            <meta-data android:name="android.app.alias"
                android:resource="@xml/alias" />
        </activity>

        <activity android:name="android.app.stubs.ChildActivity"
                        android:label="ChildActivity" />

        <receiver android:name="android.app.stubs.MockReceiver">
            <intent-filter>
                <action android:name="android.app.stubs.PendingIntentTest.TEST_RECEIVER" />
            </intent-filter>
        </receiver>

        <service android:name="android.app.stubs.MockService" />

        <activity android:name="android.app.stubs.SearchManagerStubActivity"
                android:label="SearchManagerStubActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>

        <service android:name="android.app.stubs.LocalService">
            <intent-filter>
                <action android:name="android.app.stubs.activity.SERVICE_LOCAL" />
            </intent-filter>
            <meta-data android:name="android.app.stubs.string" android:value="foo" />
            <meta-data android:name="android.app.stubs.boolean" android:value="true" />
            <meta-data android:name="android.app.stubs.integer" android:value="100" />
            <meta-data android:name="android.app.stubs.color" android:value="#ff000000" />
            <meta-data android:name="android.app.stubs.float" android:value="100.1" />
            <meta-data android:name="android.app.stubs.reference" android:resource="@xml/metadata" />
        </service>

        <service android:name="android.app.stubs.LocalForegroundService">
        </service>

        <service android:name="android.app.stubs.LocalGrantedService"
             android:permission="android.app.stubs.permission.TEST_GRANTED">
            <intent-filter>
                <action android:name="android.app.stubs.activity.SERVICE_LOCAL_GRANTED" />
            </intent-filter>
        </service>

        <service android:name="android.app.stubs.LocalDeniedService"
               android:permission="android.app.stubs.permission.TEST_DENIED">
            <intent-filter>
                <action android:name="android.app.stubs.activity.SERVICE_LOCAL_DENIED" />
            </intent-filter>
        </service>

        <activity android:name="android.app.stubs.TestedScreen"
                android:process=":remoteScreen">
        </activity>
        <activity android:name="android.app.stubs.LocalScreen" android:multiprocess="true">
        </activity>
        <activity android:name="android.app.stubs.ClearTop" android:multiprocess="true"
               android:launchMode="singleTop">
        </activity>
        <activity android:name="android.app.stubs.LocalDialog" android:multiprocess="true"
               android:theme="@android:style/Theme.Dialog">
        </activity>

        <activity android:name="android.app.stubs.PendingIntentStubActivity"
             android:label="PendingIntentStubActivity"/>

        <activity android:name="android.app.stubs.LocalActivityManagerStubActivity"
                        android:label="LocalActivityManagerStubActivity" />

        <activity android:name="android.app.stubs.LocalActivityManagerTestHelper"
            android:label="LocalActivityManagerTestHelper" />

        <activity android:name="android.app.stubs.LaunchpadTabActivity" android:multiprocess="true">
        </activity>

        <activity android:name="android.app.stubs.LocalActivity" android:multiprocess="true">
            <meta-data android:name="android.app.stubs.string" android:value="foo" />
            <meta-data android:name="android.app.stubs.boolean" android:value="true" />
            <meta-data android:name="android.app.stubs.integer" android:value="100" />
            <meta-data android:name="android.app.stubs.color" android:value="#ff000000" />
            <meta-data android:name="android.app.stubs.float" android:value="100.1" />
            <meta-data android:name="android.app.stubs.reference" android:resource="@xml/metadata" />
        </activity>

        <activity android:name="android.app.stubs.TestedActivity"
                android:process=":remoteActivity">
        </activity>

        <activity android:name="android.app.stubs.ExpandableListTestActivity"
            android:label="ExpandableListTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="android.app.stubs.FragmentTestActivity"
            android:label="FragmentTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="android.app.stubs.ChildTabActivity" android:label="ChildTabActivity" />

        <activity android:name="android.app.stubs.LauncherActivityStub"
                  android:label="LauncherActivityStub" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="android.app.stubs.MockTabActivity" android:label="MockTabActivity" />

        <activity android:name="android.app.stubs.MockListActivity" android:label="MockListActivity" />

        <activity android:name="android.app.stubs.AppStubActivity" android:label="AppStubActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="android.app.stubs.DialogStubActivity"
                  android:theme="@style/Theme_NoSwipeDismiss"
                  android:label="DialogStubActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="android.app.stubs.ActivityManagerStubFooActivity"
            android:label="ActivityManagerStubFooActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="android.app.stubs.ActivityManagerRecentOneActivity"
            android:label="ActivityManagerRecentOneActivity"
            android:allowTaskReparenting="true"
            android:taskAffinity="android.app.stubs.recentOne">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="android.app.stubs.ActivityManagerRecentTwoActivity"
            android:label="ActivityManagerRecentTwoActivity"
            android:allowTaskReparenting="true"
            android:taskAffinity="android.app.stubs.recentTwo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="android.app.stubs.ActivityManagerStubCrashActivity"
            android:label="ActivityManagerStubCrashActivity"
            android:multiprocess="true"
            android:process=":ActivityManagerStubCrashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name="android.app.stubs.StubRemoteService"
            android:process=":remote">
            <intent-filter>
                <action
                    android:name="android.app.stubs.ISecondary" />
                <action
                    android:name="android.app.REMOTESERVICE" />
            </intent-filter>
        </service>

        <activity android:name="android.app.ActivityGroup"
            android:label="ActivityGroup" />

        <activity android:name="android.app.stubs.KeyguardManagerActivity"
            android:label="KeyguardManagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <service android:name="android.app.stubs.IntentServiceStub"/>

        <activity android:name="android.app.stubs.LaunchpadActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:multiprocess="true">
        </activity>

        <activity android:name="android.app.stubs.ActivityManagerMemoryClassLaunchActivity" />

        <activity android:name="android.app.stubs.ActivityManagerMemoryClassTestActivity"
                android:process=":memoryclass" />

        <activity android:name="android.app.stubs.PipActivity"
                  android:label="PipActivity"
                  android:resizeableActivity="true"
                  android:supportsPictureInPicture="true"
                  android:configChanges="smallestScreenSize|orientation|screenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="android.app.stubs.PipNotResizeableActivity"
                  android:label="PipNotResizeableActivity"
                  android:resizeableActivity="false"
                  android:supportsPictureInPicture="true"
                  android:configChanges="smallestScreenSize|orientation|screenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="android.app.stubs.PipNotSupportedActivity"
                  android:label="PipNotSupportedActivity"
                  android:resizeableActivity="true"
                  android:supportsPictureInPicture="false"
                  android:configChanges="smallestScreenSize|orientation|screenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="android.app.stubs.KeyboardShortcutsActivity" />

    </application>

</manifest>

