type bluetooth_loader, domain, domain_deprecated;
type bluetooth_loader_exec, exec_type, file_type;

# Started by init
init_daemon_domain(bluetooth_loader)

set_prop(bluetooth_loader, bluetooth_prop)
