# Mount on and write to /proc/sys/fs/binfmt_misc.
allow init proc:dir mounton;
allow init binfmt_miscfs:file w_file_perms;
allow init tmpfs:lnk_file create_file_perms;
