type init-fugu-countrycode-sh, domain;
type init-fugu-countrycode-sh_exec, exec_type, file_type;

init_daemon_domain(init-fugu-countrycode-sh)

allow init-fugu-countrycode-sh shell_exec:file rx_file_perms;

# execute toybox/toolbox
allow init-fugu-countrycode-sh toolbox_exec:file rx_file_perms;

set_prop(init-fugu-countrycode-sh, countrycode_prop)
allow init-fugu-countrycode-sh efs_file:file { open read };
allow init-fugu-countrycode-sh efs_file:dir search;
