# Allow system server factory file access
allow system_server efs_file:dir search;
allow system_server efs_file:file r_file_perms;

# GPU dynamic fbc feature
allow system_server surfaceflinger:fifo_file rw_file_perms;

# Allow system server to probe GPU memory statistics files (memtrack HAL)
allow system_server gpu_pid_stats_file:dir r_dir_perms;
allow system_server gpu_pid_stats_file:file r_file_perms;

# Wifi country code
get_prop(system_server, countrycode_prop)
