allow audioserver system_server:unix_stream_socket { read write };
# required for sound_trigger hotword
allow audioserver self:netlink_kobject_uevent_socket create_socket_perms;