# Allow apps to read /dev/dri. Needed to pass CTS
allow appdomain device:dir r_dir_perms;
allow { appdomain -isolated_app } host1x_device:chr_file rw_file_perms;
