type crash_collector_app, domain, domain_deprecated;

# com.google.android.crashuploader runs in the crash_collector_app domain
app_domain(crash_collector_app)
net_domain(crash_collector_app)

allow crash_collector_app crash_reports_data_file:file { read getattr };

allow crash_collector_app { service_manager_type -gatekeeper_service -netd_service }:service_manager find;
