# dumpstate sets the debug.bq25892 property
# to trigger the charger chip register dump as root by init
set_prop(dumpstate, debug_bq25892_prop)

# allow dumpstate to execute fwtool in its own domain
allow dumpstate fwtool_exec:file rx_file_perms;

# read /data/misc/fw_logs/bq25892.txt log file
allow dumpstate fw_logs_data_file:file r_file_perms;
allow dumpstate fw_logs_data_file:dir  r_dir_perms;

# read /data/misc/touchfwup/rmi4update.txt log file
allow dumpstate touch_fw_update_log_file:dir r_dir_perms;
allow dumpstate touch_fw_update_log_file:file r_file_perms;

allow dumpstate host1x_device:chr_file rw_file_perms;
