allow init tmpfs:lnk_file create_file_perms;
# set attributes on /sys/class/gpio sym link
# chmod 0770 /sys/class/gpio/gpio66
allow init sysfs:lnk_file setattr;

# userspace cannot create files in sys. ignore denial
dontaudit init sysfs_devices_system_cpu:dir write;

allow init { cache_file storage_file }:dir mounton;

# /config
allow init configfs:{ file lnk_file } create_file_perms;
