allow mediaserver device:dir r_dir_perms;

# sensor manager based camera/video stabilization
allow mediaserver system_server:unix_stream_socket { connectto read write setopt };
allow mediaserver sensorservice_service:service_manager find;

allow mediaserver host1x_device:chr_file rw_file_perms;
