# Allow system_server to open crash report files.
allow system_server crash_reports_data_file:dir r_dir_perms;
allow system_server crash_reports_data_file:file r_file_perms;
allow system_server host1x_device:chr_file rw_file_perms;

get_prop(system_server, wifi_region_prop)
