# TODO This should not be occurring. Revert once the following bug has
# been addressed:
# https://code.google.com/p/chrome-os-partner/issues/detail?id=44526
allow zygote gpu_device:chr_file rw_file_perms;
auditallow zygote gpu_device:chr_file rw_file_perms;

allow zygote host1x_device:chr_file rw_file_perms;
