/dev/block/mmcblk0rpmb 0600 system drmrpc
/dev/block/platform/700b0600.sdhci/by-name/recovery 0600 system system
/dev/block/platform/700b0600.sdhci/by-name/PST 0600 system system

# Graphics
/dev/ion                0666   system     graphics
/dev/sw_sync            0660   system     graphics
/dev/dri/card*          0660   system     graphics
/dev/dri/control*       0660   system     graphics
/dev/dri/render*        0666   system     graphics

# BT
/dev/ttyTHS3            0660   bluetooth  net_bt_stack
/sys/devices/bt_bcm4354/rfkill/rfkill0  state  0660    bluetooth    net_bt_stack
/sys/devices/bt_bcm4354/rfkill/rfkill0  type   0660    bluetooth    net_bt_stack

# Backlight
/sys/devices/50000000.host1x/54400000.dsi/54400000.dsi.0/backlight/lpm102a188a-backlight	brightness	0660	system	system


# Sensors

# Sensor ring.
/dev/iio:device* 0660 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-ring.0/iio:device* buffer/length      0660 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-ring.0/iio:device* buffer/enable      0660 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-ring.0/iio:device* trigger/current_trigger      0660 system system

# Sensors attributes:
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-*/iio:device* flush      0660 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-*/iio:device* frequency  0660 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-*/iio:device* sampling_frequency  0660 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-*/iio:device* events/in_activity_still_change_falling_en  0660 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-*/iio:device* events/in_activity_double_tap_change_falling_en  0660 system system

/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-accel*/iio:device* in_accel_x_calibbias  0660 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-accel*/iio:device* in_accel_y_calibbias  0660 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-accel*/iio:device* in_accel_z_calibbias  0660 system system

/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-gyro*/iio:device* in_anglvel_x_calibbias  0660 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-gyro*/iio:device* in_anglvel_y_calibbias  0660 system system
/sys/devices/7000c400.i2c/i2c-1/1-001e/cros-ec-dev.0/cros-ec-gyro*/iio:device* in_anglvel_z_calibbias  0660 system system


# Camera
/dev/focuser    0660    media   camera
/dev/imx219     0660    media   camera
/dev/imx208     0660    media   camera

# TLK
/dev/tlk_device 0660    system  drmrpc
