/**
* Link Styles
*/


a:link {
    color: #09C;
    text-decoration: none;
}

a:visited {
    color: #639;
}

a:hover,
a:focus,
a:active {
    color: #09C;
}

/**
* Cover Styles
*/


table {
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

td {
    border: none;
    color: white;
    font: 12pt/16pt Roboto, Arial, Helvetica, sans-serif;
    background-color: black;
}

.title {
    color: white;
    font: 62px/72px Roboto, Arial, Helvetica, sans-serif;
    padding: 40px 20px 50px 60px;
    text-align: left;
}

.subtitle {
    color: white;
    font: 60px/70px Roboto, Arial, Helvetica, sans-serif;
    padding: 50px 0px 40px 60px;
    text-align: left;
}

.padding {
    padding: 40px 20px 40px 60px;
}

.padding-bottom {
    padding: 40px 20px 194px 60px;
}

.cover-text {
    font: 20px/25px Roboto, Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px 5px 5px 60px;
    text-align: left;
}


/**
* Body Styles
*/

body {
    color: #333;
    font: 12pt/16pt Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}